@font-face {
  font-family: Poppins;
  src: url('../public/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Forum;
  src: url('../public/fonts/Forum/Forum-Regular.ttf');
}

html, body, .App{
  background-color: #101222;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  background-color: #2a2a47;
  background-blend-mode: multiply;
  font-size: 1.2rem;
}

.searchbar, .search-expand{
  border-radius: 10rem;
  border: none;
  background-color: #ffffff41;
  width: 22vw;
  font-family: Forum;
}

.searchbar, li .sign{
  font-size: 0.9rem;
}

li .sign{
  color: rgb(149, 213, 213) !important;
  letter-spacing: 0.2rem;
  margin-right: 0 !important;
}

.search-expand{
  width: 70vw;
  height: 3vh;
  font-size: 1rem;
}

.navbar .navbar-brand{
  font-size: 1.8rem;
  margin-top: -0.7%;
  font-family: Poppins;
}

@media screen and (min-width: 1400px) {
  .searchbar{
    width: 18vw;
    font-size: 1rem;
  }
  .nav-link{
    margin-right: 3rem;
  }
  .last{
    margin-right: 0 !important;
  }
  .watchlist{
    margin-left: 3rem;
  }
}

.nav-link{
  color: rgb(210, 210, 210) !important;
  font-family: Forum;
  cursor: pointer;
}

.dropdown-menu{
  cursor: pointer;
  background-color: #24252ea1 !important;
  width: 40vw;
}

.dropdown-menu .dropdown-item{
  color: rgb(210, 210, 210) !important;
}

.dropdown-item:hover{
  color: #101222 !important;
}

.active{
  color: #FFF0C8 !important;
  font-weight: bolder !important;
}

.trending-content-div{
  background-color: #101222;
  height: 100vh !important;
  font-family: Montserrat;
}

.trending-heading-sm{
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 780px){
  .trending-heading-sm{
    font-size: 2rem;
  }
}

.trending-heading{
  margin-top: 23vh;
  font-size: 4.7rem;
  z-index: 9;
  letter-spacing: 0.2rem;
  right: 0;
  top:0;
  margin-right: 31%;
  line-height: 8.5rem;
  width: 5%;
  text-shadow: -1px -1px 0 #2a2a47, 1px -1px 0 #2a2a47, -1px 1px 0 #2a2a47, 1px 1px 8px #2a2a47;
}

@media screen and (min-width: 1570px) and (max-width: 2099px){
  .trending-heading{
    font-size: 5.5rem;
  }
}

@media screen and (min-width: 2100px){
  .trending-heading{
    font-size: 7rem;
  }
}

.card{
  width: 28rem;
  border: none !important;
}

.wrapper{
  width: max-content;
}

.slider-action-left,.slider-action-right{
  position: absolute;
  z-index: 99;
  height: 100%;
  transition: 0.3s ease-in-out;
  top: 0;
  bottom: 0;
}

.slider-action-left{
  left: 0;
}

.slider-action-right{
  right: 0;
}

.carousel-xxl{
  margin-top: 10vh !important
}

.carousel{
  border: 0.3rem solid #101222;
  border-bottom: none;
  box-shadow: 0.2rem 0 1.5rem 0 #62668858;
}

.trailer-link{
  color: #FFF0C8;
}

.details{
  margin-top: 32vh;
}

@media screen and (max-width: 1400px){
  .details{
    margin-top: 5vh;
    font-size: 1.5rem;
  }
}