@font-face {
  font-family: Poppins;
  src: url('../public/fonts/Poppins/Poppins-Thin.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Forum;
  src: url('../public/fonts/Forum/Forum-Regular.ttf');
}

html, body, .App{
  background-color: #101222;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar{
  width: 100%;
  background-color: #2a2a47;
  background-blend-mode: multiply;
  font-size: 1.2rem;
}

.searchbar, .search-expand{
  border-radius: 10rem;
  border: none;
  background-color: #ffffff41;
  width: 22vw;
  font-family: Forum;
}

.searchbar, li .sign{
  font-size: 0.9rem;
}

li .sign{
  color: rgb(149, 213, 213) !important;
  letter-spacing: 0.2rem;
  margin-right: 0 !important;
}

.search-expand{
  width: 70vw;
  height: 3vh;
  font-size: 1rem;
}

.navbar .navbar-brand{
  font-size: 1.8rem;
  margin-top: -0.7%;
  font-family: Poppins;
}

@media screen and (min-width: 1400px) {
  .searchbar{
    width: 18vw;
    font-size: 1rem;
  }
  .nav-link{
    margin-right: 3rem;
  }
  .last{
    margin-right: 0 !important;
  }
  .watchlist{
    margin-left: 3rem;
  }
}

.nav-link{
  color: rgb(210, 210, 210) !important;
  font-family: Forum;
  cursor: pointer;
}

.dropdown-menu{
  cursor: pointer;
  background-color: #24252ea1 !important;
  width: 40vw;
}

.dropdown-menu .dropdown-item{
  color: rgb(210, 210, 210) !important;
}

.dropdown-item:hover{
  color: #101222 !important;
}

.active{
  color: #FFF0C8 !important;
  font-weight: bolder !important;
}

.trending-content-div{
  background-color: #101222;
  font-family: Montserrat;
}

.trending-heading-sm{
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.details{
  position: relative;
  background-size: cover;
  font-family: Poppins;
  background-repeat: no-repeat;
}

.details::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #101222df;
  z-index: 7;
}

.details-img{
  width: 50%;
  border-radius: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-right: 5%;
}

.details-overview{
  line-height: 1.7;
  width: 80%;
  font-weight: 900;
}

.movie-head{
  width: 85%;
}

.cast-image{
  width: 10vw;
  height: 12vw;
  border-radius: 1vh;
}

.details .trending-slider, .cast, .reviews, .review{
  margin-left: 8.3%;
}

@media screen and (max-width: 1195px){
  .details .trending-slider, .cast, .reviews, .review{
    margin-left: 4%;
  }
}

.details-arrow{
  width: 5vh;
  background-color: #000;
  border-radius: 5rem;
  border: 2px solid rgba(22, 170, 255, 0.343);
  padding: 1vh;
}

.review-1{
  width: 95%;
}

@media screen and (min-width: 1651px) {
  .details-content{
    margin-left: 17%;
    margin-right: 17%;
  }
  .details-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .details-arrow{
    padding: 1.5vh;
  }
  .details-overview{
    width: 100%;
    text-align: justify;
    font-size: 0.9vw;
  }
  .movie-head{
    width: 103.5%;
  }
  .details .trending-slider, .cast, .reviews, .review{
    margin-left: 0;
  }
  .cast-image{
    width: 8vw;
    height: 10vw;
  }
  .review-1{
    width: auto;
  }
}

.trending-heading{
  margin-top: 23vh;
  font-size: 4rem;
  z-index: 9;
  letter-spacing: 0.2rem;
  right: 0;
  top:0;
  margin-right: 31%;
  line-height: 5.5rem;
  width: 5%;
  text-shadow: -1px -1px 0 #2a2a47, 1px -1px 0 #2a2a47, -1px 1px 0 #2a2a47, 1px 1px 8px #2a2a47;
}

@media screen and (min-width: 1570px) and (max-width: 2099px){
  .trending-heading{
    font-size: 5rem;
    line-height: 6.5rem;
  }
}

@media screen and (min-width: 2100px){
  .trending-heading{
    font-size: 6.5rem;
    line-height: 7.5rem;
  }
}

.carousel-xxl{
  margin-top: 10vh !important
}

.carousel{
  border: 0.3rem solid #101222;
  border-bottom: none;
  box-shadow: 0.2rem 0 1.5rem 0 #62668858;
}

.trailer-link, .index, .liked{
  color: #FFF0C8;
}

.movie-title, .liked{
  font-family: Poppins;
}

.liked{
  font-size: 0.9rem;
}

.overview, .movie-title{
  font-size: 1rem;
}

.overview, .overview-details{
  margin-top: -2.5vh;
  color: rgb(211, 211, 211);
}

.title, .trending-week{
  font-size: 2.2rem;
}

.index{
  font-size: 7rem;
  width: 80%;
  font-weight: 500;
  position: relative;
  z-index: 11;
  margin-top: 30vh;
  display: flex;
}

.trending-slider{
  display: none;
}

.trending-slider-sm{
  overflow: scroll;
  display: flex;
}

.arrow{
  right:0;
  width: 5vh;
  background-color: #000;
  border-radius: 5rem;
  border: 2px solid rgba(22, 170, 255, 0.343);
}

.trending-week{
  font-family: Montserrat;
  margin-top: 10vh;
}

.small-arrow{
  width: calc(12px + 0.7%);
  height: calc(12px + 0.7%);
  margin-top: 10.9vh;
}

.trailer{
  width: 100%;
  height: 100vh;
}

.likeButton{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1650px){
  .index{
    display: none;
  }
  .title{
    margin-top: 28vh;
    font-size: 1.8rem;
  }
  .trending-week{
    font-size: 1.7rem;
  }
  .details-img{
    width: 70%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1195px){
  .liked{
    font-size: 0.8rem;
  }
  .overview, .movie-title{
    font-size: 0.9rem;
  }
  .trending-week{
    font-size: 1.7rem;
  }
  .title{
    margin-top: 4vh;
  }
  .trailer{
    height: 60vh;
  }
  .details-img{
    width: 80%;
  }
}

@media screen and (max-width: 800px){
  .liked{
    font-size: 0.8rem;
  }
  .overview{
    font-size: 0.9rem;
  }
  .movie-title{
    font-size: 0.9rem;
  }
  .trending-week{
    font-size: 1.4rem;
    margin-top: 5vh;
  }
  .small-arrow{
    margin-top: 5.4vh;
  }
  .title{
    margin-top: 4vh;
    font-size: 1.3rem;
  }
  .trailer{
    height: 40vh;
  }
  .trending-heading-sm{
    font-size: 2rem;
  }
  .details-img{
    width: 100%;
    margin-left: 10%;
  }
}

@media screen and (min-width: 992px){
  .trending-slider{
    display: flex;
  }
  .trending-slider-sm{
    display: none;
  }
}
